html, body {
    /* background-image: url(/img/marco-perros-sobre-fondo-blanco_53876-99295.jpg); */
    background-size: cover;
    background-position: center;
    margin:0;
    padding:0;
    height:100%;
  }
  footer{
    text-align: center;
    height:50px;
    line-height:50px;
    bottom:0;
    left:0;
    width:100%;
  }
  
  table {
    
    border-collapse: separate;
    border-spacing: 20px;
    margin: auto;
  }
  th, td {
    padding: 10px;
    border: 1px solid black;
  }
  th {
    background-color: #555;
    color: white;
  }

.destacado {
    
    font-weight: bold;

    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
