html, body {
    margin:0;
    padding:0;
    height:100%;
  }
  footer{
    text-align: center;
    height:50px;
    line-height:50px;
    bottom:0;
    left:0;
    width:100%;
  }
  
  table {
    
    border-collapse: separate;
    border-spacing: 20px;
    margin: auto;
  }
  th, td {
    padding: 10px;
    border: 1px solid black;
  }
  th {
    background-color: #555;
    color: white;
  }
  img {
    width: 100%;
    max-width: 200px;
    height: auto;
    border: 1px solid black;
  }
.destacado {
    
    font-weight: bold;

    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
